@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/Index.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <img class="front-page-image" src="~/images/books.jpg" />
        <div class="centered-div text-center">
            <h1>Your dictionaries</h1>
            <p>All your knowledge in one place</p>
            <a class="btn btn-light" asp-action="Index" asp-controller="Dictionaries">Get started</a>
        </div>
    </div>
    <div class="col"></div>
</div>
