@*@model List<YourDictionary.ASP.ViewModels.DictionaryViewModel>*@

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Dictionaries
                    </th>
                </tr>
            </thead>
            <tbody id="dictionariesTableBody"></tbody>
        </table>
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Phrases
                    </th>
                </tr>
            </thead>
            <tbody id="phrasesTableBody">

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/Dictionaries/Dictionaries.js" asp-append-version="true"></script>
}